<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/mini.jpg">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        {{>headers}}
        <img class='portrait' src="./img/mini.jpg">
        <p>Designed By {{name}}</p>
        {{>footer}}
    </body>
</html>